{% extends "base.html.twig" %}

{% block body %}
    <div class="container p-6">
        <h1 class="text-xl-center h1"> Weather in Riga</h1>
    </div>

    <div class="container">
        <ul class="">
            {% for item in data %}
                <div class="d-lg-inline-block p-4 ">
                    <img class="w-100 img-thumbnail " alt="Whether Icon" src="https://{{ item.getIcon }}"/>
                    <li {% if item.isCurrentHour %} style = "font-size: 20px" class="bg-gradient rounded" {% endif %}
                            class="">{{ item.getDate }}
                    </li>
                    <li {% if item.isCurrentHour %} style = "font-size: 20px" class="bg-gradient rounded" {% endif %} >
                        {{ item.getCloud }}%
                    </li>
                    <li {% if item.isCurrentHour %} style = "font-size: 20px" class="bg-gradient rounded" {% endif %} >
                        {{ item.getTemperature }}C
                    </li>
                    <li {% if item.isCurrentHour %} style = "font-size: 20px" class="bg-gradient rounded" {% endif %} >
                        Humidity: {{ item.getHumidity }}%
                    </li>
                    <li {% if item.isCurrentHour %} style = "font-size: 20px" class="bg-gradient rounded" {% endif %} >
                        Wind: {{ item.getWindKph }} Kph
                    </li>

                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
